@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, #60602e, #b4b4b8);		
    
    .container_register {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
         &_screen_register {		
            background: linear-gradient(90deg, #60602e, #b4b4b8);		
            position: relative;	
           height:600px;
            width: 390px;	
            box-shadow: 0px 0px 24px #060606;
            &_content {
                z-index: 1;
                position: relative;	
                height: 100%;
                &_register__header{
                    margin-top: 50px;
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #c9c9cd;
                    
                }
                &_register__form {
                    width: 320px;
                    padding-left: 30px;
                    padding-top: 1px;
                    &_register__field 
                        {
                            .fa-list-ol
                            {
                                margin-top: 10px;   
                                color:#3b3b30
                               }
                            
                        .fa-keyboard
                        {
                            margin-top: 10px;   
                            color:#3b3b30
                           }

                        .fa-user{
                            margin-top: 10px;   
                            color:#3b3b30;
                           }

                        .fa-lock{
                            margin-top: 22px;   
                            color:#3b3b30;
                        }
                        ::placeholder { 
                            color:#3b3b30;
                            opacity: 0.4; 
                          }
                        padding: 20px 0px;	
                        position: relative;	
                        .register__icon {
                            position: absolute;
                            top: 10px;
                            color:#3b3b30;
                        }
                        .register__input {
                            border: none;
                            border-bottom: 2px solid #3b3b30;
                            background: none;
                            padding: 0px;
                            padding-left: 24px;
                            font-weight: 700;
                            width: 75%;
                            transition: .2s;
   
                        }
                        .register__input:active,
                        .register__input:focus,
                        .register__input:hover {
                                outline: none;
                                border-bottom-color: #3b3b30;
                            }

                    }
                    .register__submit {
                        background: #fff;
                        font-size: 14px;
                        margin-top: 10px;
                        padding: 16px 20px;
                        border-radius: 26px;
                        border: 1px solid #D4D3E8;
                        text-transform: uppercase;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        color:#60602e;
                        box-shadow: 0px 2px 2px  #3b3b30;
                        cursor: pointer;
                        transition: .2s;
                    }
                    
                    .register__submit:active,
                    .register__submit:focus,
                    .register__submit:hover {
                        border-color: #6A679E;
                        outline: none;
                    }


                }
                .error__message_div{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                     }
                .register__header__div{
                    display: flex;
                    align-content: center;
                    justify-content: center;
                .link{
                    text-decoration: none;

                    padding-top: 1px;
                    text-align: center;
                
                }
            }
            }

        }

    }

}

